*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-bold: 700;

    --clr-light: #fff;
    --clr-dark: rgb(32, 23, 77);
    --clr-accent: rgb(58, 174, 139);
    --clr-danger: #e74c3c;
    --clr-warning: #fdbb2d;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
        0.125em 0.125em 0.25em rgba(3, 3, 3, 0.15);
}
@media (min-width: 768px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 2rem;
        --fs-body: 1.3rem;
    }
}

body {
    background-color: black !important;
}

.__hover:hover {
    transform: scale(1.02);
}
.__hover2:hover {
    transform: scale(1.2);
    color: gray !important;
}

svg {
    /* background: lightgray; */
    overflow: visible !important;
}

.ui.secondary.menu {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.ui.secondary.menu .item {
    margin-left: 0 !important;
}
